.gallery {
  max-width: 860px;
  margin: auto;
}

.gallery__form {
  padding: 30px 10px;
}

.gallery__load {
  max-width: 100%;
}

.gallery__list {
  @include list;
  display: flex;
  flex-wrap: wrap;
}

.gallery__img {
  margin: 5px;
  flex-grow: 1;
  max-width: 97%;
}
