.gallery {
  max-width: 860px;
  margin: auto;
}

.gallery__form {
  padding: 30px 10px;
}

.gallery__load {
  max-width: 100%;
}

.gallery__list {
  @include list;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}

.gallery__img {
  margin: 5px;
  max-width: 97%;
}

@media (max-width: 390px) {
  .gallery__img {
    flex-grow: 1 !important;
  }
}
